
body, html {
  margin: 0;
  padding: 0;
  background-color: #e1e1e1;
}
#root {
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #e1e1e1;
  margin: 0;
  padding: 0;
}
h1 {
  background-color: #1b1b1b;
  color: #ffffff;
  margin-top: 0;
  font-size: 1.2rem;
  padding: 2rem 2rem 7rem 2rem;  
}
.main  {
  width: 96%;
  margin: 0 auto;
  background-color: #fefefe;
  transform: translateY(-6rem);
  padding: 10% 5%;
  background-color: whitesmoke;
}

.startPanel select, .startPanel input {
  display: block;
  width: 90%;
  max-width: 475px;
}
.startPanel input[type='number'] {
  width: 88%;
}

.questionPanel .option {
  margin: 3% 3% 0% 3%;
}
.questionPanel, .startPanel {
  border: outset 2px;
  padding: 5%;
  background-color: white;
}
.formItem {
  margin: 3% 1%;
}

.score {
  border: inset red 1px;
  padding: 2%;
  background: mistyrose;
}
.nav {
  margin-top: 50px;
  width: 100%;
}
.nav > button {
  width: 20%;
  margin: 0% 5%;
  min-width: fit-content;
}
@media screen and (min-width: 360px) {
  .h1 {
    font-size: 5rem;
    padding: 3rem 2rem 10rem 2rem;
  }
  .main { 
    width: 80%;
  }
}
